<div class="web-background">
  <div class="row">
    <div class="col-6 offset-3 loginBox">
        <div class="col-6 offset-3 loginBody">
          <div class="loginBlank">
            <P>username
          </div>
          <div class="loginBlank">
            password
          </div>
          <div class="greenLoginButton">
            Login
          </div>
          <div class="helperString1">
            Not Register ?
          </div>
          <div class="helperString2">
            Create an account
          </div>
        </div>
      </div>
  </div>
</div>


